body, html {
  height: 100%;
}

.heading-center {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #8ec8ec;
}

.block-dark-bg-blue {
  background: #00407b;
}

.heading-block {
  height: 180px;
}
.service-icon-block {
  display: flex;
  justify-content: center;
  align-content: center;
}
.service-info-block {
  flex: 1;
}
.service-center-block {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #00396d;
}
.service-info-heading {
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
  color: white;
  flex: 1;
}
.service-info-body {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  flex: 2;
}
.service-center-bg {
  background-color: rgba(1,73,138,0.7);
}
.services-block {
  margin-top: -150px;
}

.bg-parallax {
  background-image: url("../images/sean-pollock-203658-unsplash.jpg");

  height: 40%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.map-container {
  height: 600px;
}
.map-image {
  background-image: url("../images/Ascendtis_Location@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.map-overlay {
  height: 100%;
  background-color: rgba(1,73,138,0.6);
}
.map-marker {
  background-image: url("../images/Ascendtis.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.map-info {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.map-info h4 {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #8ec8ec;
}
.location-info {
  padding-top: 5%;
}
.location-title {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}
.location-detail {
  margin-bottom: 1px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 13px;
}
.primary-btn {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px;
  display: block;
  border: 0;
  background-color: #0578e3;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Muli', sans-serif;
  transition: 0.3s;
  text-decoration: none;
  color: white !important;
  font-size: 17px;
}
.primary-btn:hover {
  background-color: #006cd1;
  text-decoration: none;
}
.location-address {
  margin-left: -60px;
}

.map-image-2 {
  background-image: url("../images/Square_Screenshot_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.map-overlay-2 {
  height: 100%;
  background-color: rgba(1,73,138,0.5);
}
.map-marker-2 {
  background-image: url("../images/Ascendtis.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position: 37% 43%;
  height: 100%;

}

.contact-card {
  background-color: #fff;
  height: 100%;
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
  .location-mobile-address {
    margin-left: 0px;
  }
  .map-info {
    margin-top: 50%;
  }
  .map-image-2 {

  }
}
