body, html {
  height: 100%;
}

.heading-center {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #8ec8ec;
}

.block-dark-bg-blue {
  background: #00407b;
}

.heading-block {
  height: 180px;
}
.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-block {
  margin-top: -150px;
}

.bg-parallax {
  background-image: url("../images/sean-pollock-203658-unsplash.jpg");

  height: 40%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}