.logo {
  height: 30px;
  width: auto;
  margin-left: 15px;
}
.style_navbar {
  margin-left: 100px;
}
.nav-link {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #4b4b4d !important;
}
.bg-dark.blue-bg {
  background-color: #004d95 !important;
}
.bg-light.white-bg {
  /* background-color: white !important; */
}
.desktop-nav-item {
  padding-left: 10px;
  padding-right: 25px;
}
.banner-block {
  position: relative;
  height: 550px;
  overflow: hidden;
  background-image: url("../images/viktor-jakovlev-36799-unsplash.jpg");
  background-size: cover;
  background-position-x: 256px;
  background-position-y: -258px;
  background-repeat: repeat;
}
.banner_content {
  z-index: 1;
  color: white;
  position: absolute;
  /* top: 50px; */
  top: 100px;
  left: 15px;
  color: #cdfbfe;
  width: 645px;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}
.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 900px 1100px 0 0;
  border-color: #004d95 transparent transparent transparent;
}
.mobile-banner-title {
  color: #cdfbfe;
  font-family: 'Muli', sans-serif;
  font-size: 22px;
  text-align: justify;
}
@media only screen and (max-width: 767px) {
  .logo {
    margin-left: -35px;
  }
  .banner-block {
    position: relative;
    height: 298px;
    overflow: hidden;
    background-position: center;
  }
  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    /* border-width: 300px 360px 0 0; 350px */
    border-color: #004d9594 transparent transparent transparent;
  }
  .mobile-banner-content {
    display: block;
    position: absolute;
    color: white;
    margin-top: 20%;
    font-weight: 300;
  }
  .banner_content {
    z-index: 1;
    color: white;
    position: absolute;
    top: 20px;
    left: 15px;
    color: #cdfbfe;
    width: 280px;
    font-size: 14px;
    line-height: 2;
    display: none; /* Not Showing Main Banner Content on Mobile display*/
  }
}