.logo {
  height: 30px;
  width: auto;
}
.style_navbar {
  margin-left: 100px;
}
.nav-link {
  color: #cdfbfe !important;
}
.bg-dark.blue-bg {
  background-color: #004d95 !important;
}
.banner-block {
  position: relative;
  height: 550px;
  overflow: hidden;
  background-image: url("../images/viktor-jakovlev-36799-unsplash.jpg");
  background-size: cover;
  background-position-x: 256px;
  background-position-y: -258px;
}
.banner_content {
  z-index: 1;
  color: white;
  position: absolute;
  top: 100px;
  left: 15px;
  color: #cdfbfe;
  width: 550px;
  font-size: 21px;
  line-height: 2;

}
.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 900px 1100px 0 0;
  border-color: #004d95 transparent transparent transparent;
}

@media only screen and (max-width: 767px) {
  .banner-block {
    position: relative;
    height: 250px;
    overflow: hidden;
  }
  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 300px 350px 0 0;
    border-color: #004d95 transparent transparent transparent;
  }
  .banner_content {
    z-index: 1;
    color: white;
    position: absolute;
    top: 20px;
    left: 15px;
    color: #cdfbfe;
    width: 280px;
    font-size: 14px;
    line-height: 2;
  }
}